<a href="https://colab.research.google.com/github/tanpharamut/data_viz/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'ปรมัตถ'
surname = 'มากเจริญ'
ID = '613021016-5'

b = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ ปรมัตถ นามสกุล มากเจริญ รหัส 613021016-5

###Function

###Fuction template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการสร้างฟังก์ชัน

In [ ]:
#``` 
#        def function_name(_Iunput_) :
#              do_somting with _Iunput_ to get _output_
#              return _output_
#```

#backtick (`) ==> กด alt + 9>6

#tilde (~)

#curly bracket ({ })

#square bracket ([ ])

### fuction มีส่วนสำคัญทั้งหมด 4 ส่วน

1.  บอก python ว่าเราจะเขียนฟังก์ชัน ชื่ออะไร ```def function_name():```(ขาดไม่ได้)
2.  กำหนดตัวแปรที่จะเป็น ``` _Input_``` (ขาดได้)
3. ส่วนประมวณผล ``` do_somting with _Iunput_ to get _output_ ```(ขาดไม่ได้)
4. ส่วนเอา output ``` reture _Output_``` (ขาดได้)

### ตัวอย่างการเขียน Fuction

In [ ]:
def print_name(ID,name,surname):
      st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
      return st

In [ ]:
print_name('613021016-5','pharamut','makjaroen')

'ชื่อ pharamut นามสกุล makjaroen รหัส 613021016-5'

In [ ]:
print(print_name(ID = '603021855-5',name = 'กาญจนา', surname = 'ประสาคุณ'))

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-5

### เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

### ฟังก์ชันไม่จำเป็นต้องมี Output

In [ ]:
def print_name2(ID,name,surname):
      st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
      print(st)

### เราสามารถเพิ่มคำสั่งเข้าไปในฟังก์ชันอีกได้ โดยการเปลี่ยน คำสั่ง return เป็น print(

In [ ]:
print_name2(ID = '603021855-5',name = 'กาญจนา', surname = 'ประสาคุณ')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-5

###ฟังก์ชันไม่จำเป็นต้องมี Input

In [ ]:
def Pi():
      return 3.1415925359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่รัศมีเท่ากับ Pi * r^2

12.5663701436

เราสามารถกำหนดค่า defauit ให้กับฟังก์ชันได้

In [ ]:
def print_default(name,surname,ID,grade='F') :
      st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
      print (st)
      st2 = f'เกรดวิชา Data Viz >>> {grade}'
      print (st2)

In [ ]:
print_default('ปรมัตถ์','มากเจริญ','613021016-5')

ชื่อ ปรมัตถ์ นามสกุล มากเจริญ รหัส 613021016-5
เกรดวิชา Data Viz >>> F

In [ ]:
print_default('ปรมัตถ์','มากเจริญ','613021016-5','A')

ชื่อ ปรมัตถ์ นามสกุล มากเจริญ รหัส 613021016-5
เกรดวิชา Data Viz >>> A

# LOOP การวนซ้ำ

In [ ]:
for i in [1,2,3] :
      o = i**2
      print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

 ### จบวันที่ 7 มกราคม 2564

In [ ]:
for i in 'Pharamut' :
    print(f'{i} -> / ' ,end = ' ') #สั่งให้ print แบบ ไม่เว้นบรรทัด

P -> /  h -> /  a -> /  r -> /  a -> /  m -> /  u -> /  t -> /

In [ ]:
for i in 'Pharamut' :
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

P -> / ,h -> / ,a -> / ,r -> / ,a -> / ,m -> / ,u -> / ,t -> / ,

### สร้าง list ตัวเลขแบบอัตโนมมัติ range()

In [ ]:
range5_output = range(5)

In [ ]:
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
      print('งง' ,end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จนเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4)) # -3เริ่ม 20จบ 4step

[-3, 1, 5, 9, 13, 17]

Loop in Loop
สามารถเอา loop ซ้อนกับ loop ได้

In [ ]:
for name1 in range(2,5) : # 5 คือไม่เอา 5 คือ 2ถึง4
    print(f'now name1 = {name1}')
    for name2 in range(1,13) :
        print(name1, 'x',name2, '=' ,name1*name2)
    print('the liner loop is end')

now name1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
the liner loop is end
now name1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
the liner loop is end
now name1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
the liner loop is end

###Loop in function

In [ ]:
list_friends = ['tan1','tan2','tan3','tan4','tan5','tan6']

In [ ]:
def print_feelings(I,friends,feeling = 'love'):
      for friend in friends :
          print(f'{I} {feeling} {friend}')

In [ ]:
print_feelings('tan',list_friends)

tan love tan1
tan love tan2
tan love tan3
tan love tan4
tan love tan5
tan love tan6

###conditional is เงื่อนไข

### Ture / Fasle
การวนลูบโดยมีเงื่อนไขต่างๆ มาเกี่ยวข้อง โดยมี pattern ดังนี้

In [ ]:
print(list_friends)

['tan1', 'tan2', 'tan3', 'tan4', 'tan5', 'tan6']

In [ ]:
for name1 in list_friends :
    for name2 in list_friends :
              print(name1,'love',name2)

tan1 love tan1
tan1 love tan2
tan1 love tan3
tan1 love tan4
tan1 love tan5
tan1 love tan6
tan2 love tan1
tan2 love tan2
tan2 love tan3
tan2 love tan4
tan2 love tan5
tan2 love tan6
tan3 love tan1
tan3 love tan2
tan3 love tan3
tan3 love tan4
tan3 love tan5
tan3 love tan6
tan4 love tan1
tan4 love tan2
tan4 love tan3
tan4 love tan4
tan4 love tan5
tan4 love tan6
tan5 love tan1
tan5 love tan2
tan5 love tan3
tan5 love tan4
tan5 love tan5
tan5 love tan6
tan6 love tan1
tan6 love tan2
tan6 love tan3
tan6 love tan4
tan6 love tan5
tan6 love tan6

In [ ]:
for name1 in list_friends :
    for name2 in list_friends :
          if name1 != name2 :#ทำให้ ไม่ print ชื่อที่เหมือนกัน ซ้ำ
              print(name1,'love',name2)

tan1 love tan2
tan1 love tan3
tan1 love tan4
tan1 love tan5
tan1 love tan6
tan2 love tan1
tan2 love tan3
tan2 love tan4
tan2 love tan5
tan2 love tan6
tan3 love tan1
tan3 love tan2
tan3 love tan4
tan3 love tan5
tan3 love tan6
tan4 love tan1
tan4 love tan2
tan4 love tan3
tan4 love tan5
tan4 love tan6
tan5 love tan1
tan5 love tan2
tan5 love tan3
tan5 love tan4
tan5 love tan6
tan6 love tan1
tan6 love tan2
tan6 love tan3
tan6 love tan4
tan6 love tan5

==,!=,>=,<=,<,>

In [ ]:
for name1 in list_friends :
    for name2 in list_friends :
          if name1 == name2 :
              'do nothing'
          else:
              print(name1,'love',name2)

tan1 love tan2
tan1 love tan3
tan1 love tan4
tan1 love tan5
tan1 love tan6
tan2 love tan1
tan2 love tan3
tan2 love tan4
tan2 love tan5
tan2 love tan6
tan3 love tan1
tan3 love tan2
tan3 love tan4
tan3 love tan5
tan3 love tan6
tan4 love tan1
tan4 love tan2
tan4 love tan3
tan4 love tan5
tan4 love tan6
tan5 love tan1
tan5 love tan2
tan5 love tan3
tan5 love tan4
tan5 love tan6
tan6 love tan1
tan6 love tan2
tan6 love tan3
tan6 love tan4
tan6 love tan5

In [ ]:
'tan' == 'tan1'

False

In [ ]:
'tan' != 'tan1'

True

In [ ]:
if True:
    print('Yes')

Yes

In [ ]:
if False:
    print('No')

In [ ]:
if False:
    print('No')
else :
    print('Yes')

Yes

###HW
เขียน function ตัดเกรด โดยที่ input เป็นคะเเนน(0-100), output เป็นเกรด (F-A)
####วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

In [1]:
list_g = [1,50,65,90,101,-5,49]

In [2]:
for i in list_g :
      if i >= 80 and i <= 100 :
        print('A')
      if i >= 75 and i < 80 :
        print('B+')  
      if i >= 70 and i < 75 :
        print('B')  
      if i >= 65 and i < 70 :
        print('C+')  
      if i >= 60 and i < 65 :
        print('C')  
      if i >= 55 and i < 60 :
        print('D+')  
      if i >= 50 and i < 55 :
        print('D')  
      if i < 50 and i >= 0 :
        print('F')

F
D
C+
A
F