<a href="https://colab.research.google.com/github/tanpharamut/data_viz/blob/main/Quiz4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import os 
path = '/content/drive/My Drive/data_viz'

In [16]:
day0 = pd.read_excel('/content/drive/My Drive/data_viz/passenger-covid19.xlsx',sheet_name=0,skiprows=0)
day0.head()

  ขนคน/ขนสินค้า โหมดการเดินทาง  ...   พ.ย. 2562   ธ.ค. 2562
0     ขนคน (คน)          ทางบก  ...   4559610.0   4840673.0
1     ขนคน (คน)          ทางบก  ...         NaN         NaN
2     ขนคน (คน)          ทางบก  ...   2450888.0   2516032.0
3    ขนคน (คัน)          ทางบก  ...  28325020.0  29615013.0
4    ขนคน (คัน)          ทางบก  ...  46996660.0  47294111.0

[5 rows x 18 columns]

In [17]:
day01 = day0[day0['ยานพาหนะ/ท่า']=='ท่าอากาศยานสุวรรณภูมิ ขาออกประเทศ']
day01.head()

   ขนคน/ขนสินค้า โหมดการเดินทาง  ...  พ.ย. 2562  ธ.ค. 2562
33     ขนคน (คน)       ทางอากาศ  ...  1799319.0  1952980.0

[1 rows x 18 columns]