<a href="https://colab.research.google.com/github/tanpharamut/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### จากไฟล์ search_click.csv

เปรียบเทียบผลรวม ```alpha``` เเละ ```beta ```ของข้อมูล ก่อนและตั้งเเต่วันที่ 2 มิถุนายน 2020

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('example_timestamp_02.csv')
df

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [4]:
df.iloc[0,0]

'29-05-2020'

In [5]:
df.iloc[4,0]

'02-06-2020'

In [6]:
df1 = df.iloc[:,0:3]
df1

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [7]:
df1 = df.iloc[4:,0:3]
df1

   Unnamed: 0  alpha  beta
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [8]:
from datetime import datetime

In [9]:
df['Unnamed: 0'] = [i.strftime('%Y-%m-%d') if isinstance(i,datetime) else i for i in df['Unnamed: 0']]
df

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

### คำนวณผิด เนื่องจาก รูปแบบ ไม่สามารถนำมาคำนวณได้ การเรียงลำดับผิดพลาด ดังนั้นควรใช้ timestamp ตั้งเเต่เเรก

In [11]:
df1_1 = df[df['Unnamed: 0']< '02-06-2020'] 
df1_1.sum()

Unnamed: 0    01-06-2020
alpha               1.94
beta                  28
dtype: object

In [12]:
df1_2 = df[df['Unnamed: 0']>= '02-06-2020']
df1_2.sum()

Unnamed: 0    29-05-202030-05-202031-05-202002-06-202003-06-...
alpha                                                     35.94
beta                                                        131
dtype: object