<a href="https://colab.research.google.com/github/tanpharamut/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### จากไฟล์ search_click.csv

เปรียบเทียบผลรวม ```alpha``` เเละ ```beta ```ของข้อมูล ก่อนและตั้งเเต่วันที่ 2 มิถุนายน 2020

In [2]:
import pandas as pd

In [12]:
df = pd.read_csv('example_timestamp.csv')
df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [13]:
df.iloc[0,0]

'2020-05-29'

In [16]:
df.iloc[4,0]

'2020-06-02'

In [43]:
df1 = df.iloc[:,0:3]
df1

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [24]:
df1 = df.iloc[4:,0:3]
df1

   Unnamed: 0  alpha  beta
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [28]:
from datetime import datetime

In [32]:
df['Unnamed: 0'] = [i.strftime('%Y-%m-%d') if isinstance(i,datetime) else i for i in df['Unnamed: 0']]
df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16