<a href="https://colab.research.google.com/github/tanpharamut/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
from datetime import datetime as dt
from datetime import time

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
path = '/content/drive/My Drive/data_viz'

In [8]:
data = pd.read_csv(os.path.join(path,'search_request.csv'))
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [9]:
data.isnull().any()

Unnamed: 0          False
search_id           False
search_timestamp    False
user_agent          False
q                    True
user_id              True
session_id          False
number_of_result    False
lat                  True
long                 True
dtype: bool

In [10]:
data['search_timestamp']  = pd.to_datetime(data['search_timestamp'],format='%Y-%m-%d %H:%M:%S',errors='coerce')

In [11]:
data[data['search_timestamp'].dt.dayofweek == 3]

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
253              253  5e8ef1b0-6df6-4140-a867-91c8aa1d9c7c  ...  12.6087  102.118
254              254  9acce958-a6e5-4ba0-8a2b-92d453abe495  ...  13.7594  100.503
...              ...                                   ...  ...      ...      ...
10004269    10005142  9b2250fd-a462-4820-b604-b2d585b9a537  ...      NaN      NaN
10004270    10005143  6fff09ba-f16a-4510-bd26-97183f9f7bde  ...      NaN      NaN
10004271    10005144  5cb2fbb7-2a48-400e-8324-04cc7c302a30  ...      NaN      NaN
10004284    10005157  94c27eb4-6909-4511-a560-cfd1425a6cbb  ...      NaN      NaN
10004285    10005158  26130c30-c529-48bf-8430-a26e28afbcfd  ...      NaN      NaN

[1087060 rows x 10 columns]

In [25]:
One = data[data['search_timestamp'].dt.time < time(hour=12)] 
One = One[One['search_timestamp'].dt.time >= time(hour=11)]#ดึงข้อมูลคนที่ค้นหาในช่วง 11 โมงขึ้นไป จนถึง เที่ยง
One = One.iloc[:,2].count()
One

738397

In [27]:
Two = data[data['search_timestamp'].dt.time >= time(hour=23)]#ดึงข้อมูลคนที่ค้นหาในช่วง 5 ทุ่มขึ้นไป
Two = Two.iloc[:,2].count()
Two

278510

In [28]:
One > Two # ตรวจสอบว่ามากกว่าจริง

True

In [30]:
if One > Two:
      word = 'มากกว่า'
elif One < Two:
      word = 'น้อยกว่า'
else:
      word = 'เท่ากับ'

In [31]:
print(f'ช่วงเวลา 11.00 ถึง 12.00น. จะมีจำนวนการค้นหาร้านอาหารเท่ากับ {One} ซึ่ง{word}ช่วงเวลา 23.00 ถึง 0.00น. ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ {Two}  ซึ่งเท่ากับ {abs(One-Two)} ครั้ง')

ช่วงเวลา 11.00 ถึง 12.00น. จะมีจำนวนการค้นหาร้านอาหารเท่ากับ 738397 ซึ่งมากกว่าช่วงเวลา 23.00 ถึง 0.00น. ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ 278510  ซึ่งเท่ากับ 459887 ครั้ง

ใช้ if inline

In [35]:
print(f'ช่วงเวลา 11.00 ถึง 12.00น. จะมีจำนวนการค้นหาร้านอาหารเท่ากับ {One} ซึ่ง{"มากกว่า" if (One > Two) else "น้อยกว่า"}ช่วงเวลา 23.00 ถึง 0.00น. ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ {Two}  ซึ่งเท่ากับ {abs(One-Two)} ครั้ง')

ช่วงเวลา 11.00 ถึง 12.00น. จะมีจำนวนการค้นหาร้านอาหารเท่ากับ 738397 ซึ่งมากกว่าช่วงเวลา 23.00 ถึง 0.00น. ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ 278510  ซึ่งเท่ากับ 459887 ครั้ง

In [17]:
#วันจันทร์-พฤหัส
day_work = data[data['search_timestamp'].dt.dayofweek <= 3] 
day_work = day_work.iloc[:,2].count()
day_work

4220697

In [19]:
#ศุกร์-อาทิตย์
day_holiday = data[data['search_timestamp'].dt.dayofweek >= 4] 
day_holiday = day_holiday.iloc[:,2].count()
day_holiday

5783659

In [20]:
day_work > day_holiday

False

In [33]:
if day_work > day_holiday:
      word1 = 'มากกว่า'
elif day_work < day_holiday:
      word1 = 'น้อยกว่า'
else:
      word1 = 'เท่ากับ'

In [34]:
print(f' ช่วงวันจันทร์-พฤหัสบดี มีจำนวนการค้นหาร้านอาหาร {day_work} ซึ่ง{word1} ช่วงวันศุกร์-อาทิตย์ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ {day_holiday}  ซึ่งน้อยกว่า {abs(day_holiday-day_work)} ครั้ง')

 ช่วงวันจันทร์-พฤหัสบดี มีจำนวนการค้นหาร้านอาหาร 4220697 ซึ่งน้อยกว่า ช่วงวันศุกร์-อาทิตย์ที่มีจำนวนการค้นหาร้านอาหารเท่ากับ 5783659  ซึ่งน้อยกว่า 1562962 ครั้ง